@charset "UFT-8";

body {
    background-color: #f5f8f9;
}

div#coluna1 {
    margin: 0; padding: 0;    
    display: flex;
    flex-flow: column;
    height: 960px; 
    justify-content: initial;    
    align-items: center;    
    background-color: #3a3c40;
    font-family: 'Lato', sans-serif;  
}

div#coluna1 img {
    margin-top: 35px;
    border-radius: 2px;    
}

div#coluna1 h2 {    
    text-transform: uppercase;       
    font-weight: 700;
    font-size: 24px;
    color: #f5a71e; 
    margin-top: 16px;   
}

div#coluna1 h3 {
    margin-top: -5px;    
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

div#coluna1 a.botao {
    width: 140px;
    height: 40px;    
    margin-top: 15px;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: #f6a623;
    color: #fff;    
    font-weight: 700;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 4px 0 rgba(245, 166, 35, 0.6);
}

div.socialnetwork {
    margin-top: -10px;
}

div.socialnetwork a {
    padding-left: 4px;
    padding-right: 4px;
}

section h2#titlesection{
    margin: 0; padding: 0;
    margin-top: 30px;
    font-size: 16px;
    color: #eeeeee;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
}

section p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #6e7b82;
}

div#coluna1 section progress {
    width: 230px;
    margin: 0; padding: 0;
    margin-bottom: 5px;
}

div#coluna1 progress::-webkit-progress-value {
    background-color: #eeb65a;
}

div#coluna2 {    
    display: flex;
    flex-flow: nowrap;
    height: 920px;            
    margin: 0; padding: 0;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(155,155,155,0.3);
    color: #666666;
}

div#coluna2 header {
    text-align: left;
    width: 100%;    
    border-bottom: 1px solid #d10014;           
}

div#coluna2 h1 {
    font-size: 18px;
    font-weight: 900;
    color: #d10014;    
}

div#coluna2 img {
    padding-right: 8px;
    padding-left: 5px;
}

div#coluna2 p {
    font-size: 15px;    
    color: #666666;
    font-weight: 400;
    text-align: justify;
    padding-left: 5px;
}

div#coluna2 article.xp { 
    margin-top: 40px;       
}

div#coluna2 article.xp div.emprego {
    display: flex;
    flex-flow: nowrap;
    margin-top: 30px;    
}

div#coluna2 article.xp ul {       
    width: 30%; 
    padding-left: 5px;
    margin-bottom: 30px;   
}

div#coluna2 article.xp li {
    margin-bottom: -5px;
}

div#coluna2 article.xp li.cargo {   
    font-size: 17px;
    font-weight: 700;
    color: #3a3c40;
}

div#coluna2 article.xp li.empresa {    
    font-size: 15px;
    font-weight: 400;
    color: #3a3c40;
}

div#coluna2 article.xp li.periodo { 
    font-size: 15px;
    font-weight: 300;
    color: #3a3c40;
}

div#coluna2 article.xp p { 
    margin: 0; padding: 0;  
    width: 65%;
    padding-left: 30px;   
    text-align: justify;    
}

