@charset "UTF-8";
@font-face {
    font-family: 'muliextrabold';
    src: url('../fonts/muli-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliextralight_italic';
    src: url('../fonts/muli-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/muli-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-regular-webfont.woff2') format('woff2'),
         url('../fonts/muli-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%; 
    background-color: rgba(23,23,23,0.35);    
}

div.checkout {
    display: flex;
    flex-flow: row wrap;
    margin: 40px auto;
    width: 60%;
    height: 550px;
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 41px;
    background-color: #fff;   
    border-bottom: 1px solid #dddcde;
}

header h2 {
    margin: 0; padding: 0;
    padding-left: 15px;     
    display: inline-block;    
    color: #5e5f5f;
    font-size: 18px;
    font-family: 'muliextrabold', sans-serif;         
}

header ul {
    display: inline-block;
    margin: 0; padding: 0;
    list-style-type: none;    
    padding-left: 15px;;        
}

header ul li {
    display: inline-block;
    padding-right: 1px;
    font-size: 12px;
    font-family: 'muliregular', sans-serif;       
}

header ul li#payment {
    font-family: 'muliextrabold', sans-serif;      
}

header ul li a {
    text-decoration: none;
    color: rgba(74,74,74,.5);
}

header a#fechar {    
    background-image: url('../imagens/x.png');
    background-repeat: no-repeat;    
    width: 17px;
    height: 17px;
    margin-left: 420px;
}

header a#fechar span {
    visibility: hidden;
}

section.cards {
    margin: 0; padding: 0;
    width: 52.8%;
    height: 508px;
    background-color: #fff;
    border-right: 1px solid #dddcde;
}

section.cards h3 {
    margin: 0; padding: 0;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 17px;
    font-family: 'muliregular', sans-serif;      
    color: #878889;
    font-size: 16px; 
}

section.cards div.cardflag {
    display: inline-block; 
    margin: 0; padding: 0;
    margin: 5px;
    margin-left: 17px;
    padding: 13px 3px 13px 3px;    
    width: 109px;
    height: 70px;        
    text-align: center;   
}

section.cards div.cardflag span {
    margin: 0; padding: 0;
    font-family: 'muliregular', sans-serif;
    font-size: 12px;
    color: #acafb1; 
}

section.cards div.cardflag:hover {
    padding: 12px 2px 12px 2px;     
    background-color: #f5f9fd;
    border: 1px solid #d1e2f6;
    border-radius: 3px;
    cursor: pointer;
}

section.cards h3#nc {
    margin: 0; padding: 0;
    margin: 0 10px 25px 10px;
    padding: 0 0 5px 6px;
    border-bottom: 1px solid rgba(151,151,151,0.2);
}

section.cards form {
    margin: 0; padding: 0;
    margin: 6% 16%;
}

section.cards form input {    
    border: 1px solid #dedede;
    border-radius: 2px;
    font-family: 'muliregular', sans-serif;
    font-size: 14px;
    padding-left: 12px;
}

section.cards form input.namenumber {
    width: 270px;
    height: 40px;
    margin-bottom: 25px;
}

section.cards form input.va {
    width: 149px;
    height: 40px; 
    margin-right: 8px;  
}

section.cards form input.cod {
    width: 96px;
    height: 40px;
}

::-webkit-input-placeholder {
    color: #c4cbd0;
}

section.cards form input.check {
   margin-top: 20px;
   margin-right: 5px;
}

section.cards form label {
    font-size: 14px;
    color: #777879;
    font-family: 'muliregular', sans-serif;
}

section.cards form button {
    display: block;
    width: 289px;
    height: 44px;
    margin-top: 30px;
    background-color: #8bd638;
    border: none;
    border-radius: 2px;
    color: rgb(255,255,255);
    font-size: 16px;
    font-family: 'muliextrabold', sans-serif;
    cursor: pointer;
}

section.products {    
    width: 47%;
    height: 508px;    
    background-color: #ebebeb;
}

section.products p {
   width: 320px; 
   height: 49px;
   margin: 0; padding: 0;   
   margin-left: 20px;
   margin-top: 10px;
   padding-bottom: 15px;  
   border-bottom: 1px solid rgba(155,155,155,0.2);      
}

section.products p span{
    display: flex;
    flex-flow: column;      
    margin-left: 55px; 
    margin-bottom: 4px;       
}

section.products p.bota {    
    background-image: url('../imagens/bota.png');
    background-repeat: no-repeat; 
    margin-top: 25px;    
}

section.products p.mochila {
    background-image: url('../imagens/mochila.png');
    background-repeat: no-repeat;
}

section.products p.bolsa {
    background-image: url('../imagens/bolsa.png');
    background-repeat: no-repeat;
}

section.products p.cachecol {
    background-image: url('../imagens/cachecol.png');
    background-repeat: no-repeat;
    padding-bottom: 75px;    
} 

section.products p span.productname {
    display: inline-block;
    font-size: 12px;
    font-family: 'muliextrabold', sans-serif; 
    color: #777879;
}

section.products p span.value {      
    float: right;
    margin-right: 10px;   
    color: #777879;
    font-size: 12px;
    font-family: 'muliextrabold', sans-serif; 
}

section.products p span.color {     
    font-size: 10px;    
    font-family: 'muliextralight_italic', sans-serif;
    color: #4a4a4a;
}

section.products p span.quantity { 
    display: flex;
    flex-direction: row;            
    font-family: 'muliextrabold', sans-serif;
    font-size: 10px;
    color: #9c9c9c;           
}

section.products p span.number {
    margin: 0; padding: 0;
    padding-left: 5px;
    font-size: 10px;
    color: #9c9c9c;
    font-family: 'muliregular', sans-serif;   
}

section.products span.subtotal { 
    display: block;   
    margin: 0; padding: 0;
    margin-top: 10px;
    margin-left: 20px;  
    border: none;
    font-size: 12px;
    font-family: 'muliregular', sans-serif; 
    color: #777879;
}

section.products span.a1 {
    float: right;
    margin-right: 56px;
    font-size: 12px;
    font-family: 'muliregular', sans-serif; 
    color: #777879;
}

section.products h3 {
    width: 320px;
    margin-left: 20px; 
    margin-top: 10px;    
    padding-top: 20px;
    font-size: 12px;
    color: #777879;
    font-family: 'muliextrabold', sans-serif;
    border-top: 1px solid rgba(155,155,155,0.2); 
}

section.products h3 span {
    margin-left: 238px;
}